@import url(fonts/include-styles.css);

html {
  scroll-behavior: smooth;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: purple;
}

body {
  margin: 0;
  background-image: url(pics/background-yellow.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: Cyberpunk;
}

h2 {
  font-size: 3rem;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: purple;
  transition: color 0.5s ease-in-out;
}

p {
  margin: 0;
}

section {
  padding: 5px 0;
  border-bottom: 2px solid gray;
}

.wrapper {
  padding: 0 10px;
  max-width: 1040px;
  margin: 0 auto;
}

.header {
  margin: 20px 0;
}

.navigation-list {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10px;
  font-family: Cyberpunk;
}

.about {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.info__foto {
  display: inline-block;
}

.my-foto {
  display: inline-block;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.contacts-list > li {
  display: inline-block;
  font-size: 1.2rem;
}

.info__name-about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info__name {
  font-size: 4rem;
}

.info__about {
  font-style: italic;
  font-size: 1.5rem;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.competensions {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
}

.competensions-list > li {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.competensions-list > li::before {
  display: inline-block;
  content: "";
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.HTML-comp::before {
  background-image: url(pics/html5.png);
}

.CSS-comp::before {
  background-image: url(pics/css3.png);
}

.JS-comp::before {
  background-image: url(pics/js.png);
}

.Git-comp::before {
  background-image: url(pics/github.png);
}

.VS-comp::before {
  background-image: url(pics/vscode.png);
}

.Rus-comp::before {
  background-image: url(pics/rus.png);
}

.Eng-comp::before {
  background-image: url(pics/eng.png);
}

.projects {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.projects__project {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.project__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__image > img {
  display: inline-block;
}

.project__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cozy-home_link {
  transition: all 0.5s ease-in-out;
}

.christmas-shop_link {
  transition: all 0.5s ease-in-out;
}

.project__name {
  font-size: 2rem;
}

.project__description {
  font-size: 1.3rem;
}

@media (hover: hover) {
  a:hover {
    color: rgb(255, 0, 255);
  }

  .cozy-home_link:hover {
    color: rgb(0, 255, 213);
  }

  .christmas-shop_link:hover {
    color: rgb(255, 80, 197);
  }
}
